<div class="posting">
	<div class="posting-left"> 
		<div class="posting-title">
			<b><%= posting.title %></b>
		</div>

		<div class="posting-description line-clamp">
			<%= posting.description.truncate(80, separator: ' ') %>
		</div>

		<div>
			<div class="posting-tagBox">
				<%= posting.ptype %>
			</div>
		</div>	
	</div>	

	<div class="posting-location">
		<%= posting.location %>
	</div>

	<div class="posting-date">
		<%= "2234" %>
	</div>
</div>