<div class="search-box">
  <%= bootstrap_form_tag url: "/", method: "get" do |f| %>
    <%= f.text_field(:title) %>

    <%= f.form_group :ptype, label: { text: "Opportunity Type" } do %>
        <%= f.check_box(:full_time, label: "Full Time") %>
        <%= f.check_box(:part_time, label: "Part Time") %>
        <%= f.check_box(:internship, label: "Internship") %>
    <% end %>

    <%= f.text_field(:location) %>
    <%= f.submit("Search") %>
  <% end %>
</div>