<h1>Listing Postings</h1>

<%= will_paginate @postings %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Type of Position</th>
      <th>Deadline</th>
      <th>Date of Posting</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @postings.each do |posting| %>
  <tr>
    <td><%= posting.title %></td>
    <td><%= posting.location %></td>
    <td> <%= truncate posting.description, length: 100 %> </td>
    <td><%= posting.ptype %></td>
    <td><%= posting.deadline%></td>
    <td><%= posting.created_at %></td>
    <td><%= link_to 'Show', posting %></td>
  </tr>
  <% end %>
</table>

<%= form_tag postings_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <div class="form_row">
      <%= label_tag :ptype, "Position Type:" %>
      <% [ 'internship', 'full_time', 'part_time'].each do |ptype| %>
      <br>
      <%= radio_button_tag 'ptype', ptype, @ptype == ptype %>
      <%= ptype.humanize %>
      <% end %>
    </div>
    <%= submit_tag "search" %>
  </p>
<% end %>


<br>
