<h1>Search Postings</h1>
<%= render partial: 'partials/search' %>

<h1>Listing Postings</h1>
<div class="results"> <%= pluralize(@results_found, "Result") %> Found </div> <br>

<%= will_paginate @postings %>
<%= render partial: 'partials/posting', collection: @postings %>
<%= will_paginate @postings %>
