<h1>Listing Postings</h1>

<%= will_paginate @postings %>
<%= render partial: 'partials/posting', collection: @postings %>
<%= form_tag postings_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <div class="form_row">
      <%= label_tag :ptype, "Position Type:" %>
      <% [ 'internship', 'full_time', 'part_time'].each do |ptype| %>
      <br>
      <%= radio_button_tag 'ptype', ptype, @ptype == ptype %>
      <%= ptype.humanize %>
      <% end %>
    </div>
    <%= submit_tag "search" %>
  </p>
<% end %>

<br>