Thank you for using the Princeton E-Club Career Website. Please submit your positing and expect it to be live within 2-3 days!

<%= form_for(@posting) do |f| %>
  <div>
	<div class="new-posting-field">
	  <%= f.label :title %>
	  <%= f.text_field :title, :autofocus => true%>
	</div>
  <hr>
  <div class="new-posting-field">
	  <%= f.label :location %>
	  <%= f.text_field :location %>
  </div>
  <hr>
  <div class="new-posting-field">
	  <%= f.label :description %>
	  <%= f.text_area :description %>
	</div> 
  <hr>
	<div class="new-posting-field">
	  <%= f.label "Opportunity Type" %>
    <%= f.select(:ptype, options_for_select([['Full-Time', "full_time"], ['Part-Time', "part_time"], ['Internship', "internship"]])) %>
	</div>
  <hr>
  <div class="new-posting-deadline">
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </div>
  <hr>
  <%= f.button :submit %>
<% end %> 