Thank you for using the Princeton E-Club Career Website. Please submit your positing and expect it to be live within 2-3 days!

<%= form_for(@posting) do |f| %>
	<div class="new-posting-field">
	  <%= f.label :title %>
	  <%= f.text_field :title, :autofocus => true%>
	</div>
	<div class="new-posting-field">
	  <%= f.label :location %>
	  <%= f.text_field :location %>
    </div>
    <div class="new-posting-field">
	  <%= f.label :description %>
	  <%= f.text_field :description %>
	</div>
	<div class="new-posting-field">
	  <%= f.label :ptype %>
	  <%= f.text_field :ptype %>
	</div>
  <%= f.button :submit %>
<% end %> 